.videoDescription {
  display: grid;
  grid-template-columns: 55% 35%;
  column-gap: 7%;
  margin-top: 2rem;
}

.description h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;

  color: #000000;
}
.description p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #000000;
}
