/*==========================
_smd_navbar
===========================*/

._smd_navbar_border {
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
}
._smd_navbar {
  padding-top: 0;
  padding-bottom: 0;
}
._smd_nav_item a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #f5f5f5 !important;
  padding: 0 28px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  height: 79px;
}
._smd_nav_item a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
._smd_nav_item.active a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #fff;
  border-radius: 5px;
}

._smd_nav_item.active a {
  background: #ffffff2b;
}
.navBrand {
  width: 60px;
  height: 60px;
}

.menuBtn {
  color: #fff;
  background: transparent;
  font-size: 26px;
  display: none;
  border: none;
}

.MobileMenucloseBtn {
  background: transparent;
  font-size: 26px;
  border: none;
}
.mobileMenuSideBar {
  overflow: auto;
  background: #fff;
  color: #111;
  position: fixed;
  top: 0;
  left: -30%;
  z-index: 9999;
  width: 0%;
  padding-top: 80px;
  height: 100%;
  transition: all 0.8s ease-in-out;
}
.mobileMenuSideBar.active {
  width: 100%;
  left: 0%;
}

.mobileMenuSideBar .navBrand span {
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
}
.mobileMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobileMenu li {
}
.mobileMenu li a {
  color: #111 !important;
  border-bottom: 1px solid #111;
  height: 44px !important;
  font-size: 18px !important;
}

@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }

  ._smd_nav_item.active a {
    background: transparent;
  }
  ._smd_nav_item.active a:after {
    top: 97%;
    left: 0;
    height: 3px;
    bottom: 0;
  }
}

/*==========================
  end _smd_navbar
  ===========================*/

/*==========================
_smd_navbar
===========================*/
.navMenu {
  width: 92%;
  align-items: center;
  flex-wrap: wrap;
}
.signBtn svg {
  margin-right: 10px;
  /* width: 20px; */
}
.signBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #ffffff !important;
  text-transform: uppercase;
  margin: 0 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMenu ul {
  flex-direction: row;
  flex-wrap: wrap;
}
.formInline button {
  margin: 1px 0;
  border: none;
  padding: 0;
  background: transparent;
  width: 30px;
  height: 30px;
}
.formInline button svg {
  margin: 0;
  border: none;
  padding: 0;
  background: transparent;
  width: 30px;
  height: 30px;
}

/*==========================
end _smd_navbar
===========================*/

/*navbar dropdown*/
.user_dropdown_btn {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
}
.user_dropdown {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(123, 123, 123, 0.25);
  list-style: none;
  margin: 0;
  padding: 0;
}

.user_dropdown li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000 !important;
  text-decoration: none;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  display: block;
  padding: 10px 20px;
}
.user_dropdown li a svg {
  margin-right: 7px;
}

.menu_item:hover {
  color: #2980b9;
}

.leangBtn {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown_items {
  visibility: visible;
  opacity: 1;
}
.dropdown_items {
  position: absolute;
  background: #fff;
  color: #111;
  flex-direction: column;
  top: 100%;
  right: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  padding: 0;
}
.dropdown p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #f3f3f3;
  margin-left: 10px;
}

.dropdown_items li {
  color: #111 !important;
  display: block;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #111;
  cursor: pointer;
}
/*end navbar dropdown*/

@media (max-width: 768px) {
  ._smd_nav_item a {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    height: 43px;
    padding: 0 8px !important;
  }
  .navBrand span {
    /* width: 31px !important; */
  }
  .navMenu {
    width: 42%;
    flex-direction: row;
    align-items: center!important;
    /* justify-content: end !important; */
  }
  .signBtn i {
    margin-right: 4px;
  }
  .signBtn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #ffffff !important;
    text-transform: uppercase;
  }

  .navMenu ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .formInline button {
    margin: 1px 0;
    border: none;
    padding: 0;
    background: transparent;
    width: 15px;
    height: 15px;
    display: flex;
  }
  .formInline button svg {
    margin: 0;
    border: none;
    padding: 0;
    background: transparent;
    width: 15px;
    height: 15px;
  }
  .leangBtn {
    display: none;
  }
  .signBtn {
    margin: 0 5px;
  }
  .signBtn svg {
    margin-right: 3px;
    width: 17px !important;
    height: 17px !important;
  }
}
