
.nfl_comment_num::before {
    position: relative;
    top: 2px;
    margin-right: 5px;
    margin-left: 20px;
  }

  .nfl_para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #5c5656;
  }
  .newsCard4 {}
