.nfl_comment_num {
  position: relative;
  top: 2px;
  margin-right: 5px;
  margin-left: 20px;
}

.newscard3 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  /* identical to box height, or 233% */

  letter-spacing: -0.04em;

  color: #5c5656;
}

.newscard3 .newscard3content h4 {
  color: #121212;
}
.newscard3 .newscard3content:hover h4 {
  color: rgb(0, 102, 255);
}

.newscard3Image span {
  width: 202px !important;
  height: 130px !important;
}
.newscard3content {
  margin-left: 20px;
}

@media (max-width: 376px) {
  .newscard3 {
    flex-direction: column;
  }
  .newscard3Image span {
    width: 100% !important;
    height: 250px !important;
  }
  .newscard3content {
    margin-left: 0px;
    margin-top: 10px;
  }
  .newscard3content h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 144% */

    color: #121212;
  }
  .newscard3 p {
    font-size: 10px;
    margin-top: 10px !important;
  }
}
