/*==========================
_smd article
===========================*/
._smd_article_card {
  position: relative;
  height: 150px;
  margin: 0 10px;
  border-radius: 4px !important;
  width: 100% !important;
}
._smd_article_card_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 94% !important;
  height: 100% !important;
  border-radius: 4px !important;
}
._smd_article_card_img span {
  width: 100% !important;
  height: 100% !important;
  border-radius: 4px !important;
}

._smd_article_card h4 {
  position: absolute;
  top: 5%;
  right: 9%;
  color: #fff;
  width: 73px;
  height: 23.87px;
  background: #cb3939;
  border-radius: 3px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23.87px;
}
@media only screen and (max-width: 768px) {
  ._smd_article_card {
    width: 100%;
  }
}
