.card {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  gap: 20px;

  padding: 3px 8px;
}

.card:first-child {
  margin-top: 0px !important;
}

.card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #5c5656;
  margin: 0;
}

.cardTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 42px;
  color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 0;
  height: 30px;
}
.followBtn {
  background: #000000;
  border-radius: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 42px;
  color: #ffffff;
  width: 65px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
}

.seeAllPlayer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5c5656;
}
