.more_news_card span {
  width: 100% !important;
  height: 162px !important;
}

.nfl_card_Desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #121212;
}
.more_news_card:hover .nfl_card_Desc {
  color: rgb(0, 102, 255);
}
