.singlePageComment {
  display: grid;
  grid-template-columns: 10% 87%;
  margin-bottom: 26px;
}
.commentImage span {
  border-radius: 50%;
}
.content h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142d;
  margin: 0;
  margin-top: 10px;
  text-transform: capitalize;
}
.content h4 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #9a9ab0;
  margin-left: 10px;
}
.content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  /* or 20px */

  letter-spacing: 0.005em;

  /* Light/Text Color/Body 1 */

  color: #515151;
  margin: 0;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .singlePageComment {
    grid-template-columns: 10% 82%;
    column-gap: 5%;
  }
  .content h4 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
  }
  .content h4 span {
    font-size: 14px;
  }
  .content p {
    font-size: 16px;
  }
  .content p {

    font-size: 18px;

  }
}
