.accordionTable {
  margin-bottom: 80px;
}
.accordionTable h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 30px;
}

