/* .podcastImage {
}
.podcastImage span {
} */
.videoTimePrograss {
  width: 100%;
  height: 11px;
  background: #c6c0ce;
  border-radius: 5px;
  position: relative;
  margin: auto;
  margin-top: 34px;
}
.videoTimePrograss div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: #d70404;
  height: 100%;
}

.playBtn {
  width: 33%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
