.nflNews {
  width: 100%;
  margin: auto;
}
.mainNewsCard h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
}
.nflNewsCard {
  position: relative;
  display: inline-block;
}
.nflNewsCard span {
  width: 100% !important;
  height: 100% !important;
}
.nflNewsCardContent {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 57px;
}
.nflNewsCardContent p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.nflNewsCardContent h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.latestNews h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
}
@media (max-width: 768px) {
  .nflNewsCardContent p {
    font-size: 8px;
    line-height: 10px;
  }
  .nflNewsCardContent h4 {
    font-size: 14px;
    line-height: 17px;
  }
  .mainNewsCard h3 {
    font-size: 16px;
    line-height: 32px;
  }
  .nflNewsCardContent {
    background: #0000006b;
    bottom: 7px;
    padding: 11px 41px;
  }
}
