._smd_live_watch_bg {
  width: 100%;
  height: 339px;
  background-repeat: no-repeat;
  position: relative;
}

._smd_live_btn {
  position: absolute;
  top: 8%;
  left: 3%;
  width: 128px;
  height: 42.13px;
  background: #d70404;
  border-radius: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
  border: none;
}


._smd_live_video_tilte {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #111111ba;
    color: #fff !important;
    padding: 18px 15px;
    padding-right: 34px;
    display: grid;
    grid-template-columns: 6% 91%;
    align-items: center;
    column-gap: 4%;
  }
  ._smd_live_video_tilte h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }

  ._smd_watch_system {
    display: flex;
    align-items: center;
    padding: 20px 20px;
  }
  ._smd_watch_system p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #c2c4c7;
    margin: 0;
  }
  ._smd_watch_system ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
  }
  ._smd_watch_system ul li {
    display: inline-block;
    margin: 0 10px;
  }
    
