.viewsCard {
  list-style: none;
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.viewsCard li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.viewsCard li svg {
  margin-right: 10px;
}

.sharebtn {
  cursor: pointer;
}

.socialLink {
  list-style: none;
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.socialLink li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 15px;
  color: #000000;
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.socialLink li svg {
  cursor: pointer;
}

.socialLink p{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
  margin-right: 24px;
  margin-bottom: 0;
}
