.nfl_card_title2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
  position: relative;
}
.nfl_sec5_grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 80px;
}

@media only screen and (max-width: 992px) {
  .nfl_sec5_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 760px) {
  .nfl_sec5_grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .nfl_sec5_grid {
    grid-gap: 30px;
  }
}
