.watchVideo {
  position: relative;
  width: 100%;
  height: 30rem;
}
.watchVideo span {
  width: 100% !important;
  height: 100% !important;
}
.videoPlayIcon {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  width: 94px;
  height: 94px;
}
.videoPlayIcon svg {
  width: 94px;
  height: 94px;
  cursor: pointer;
}
/* 
.playBtn {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.videoTime {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 1rem;
}
.videoTimePrograss {
  background: rgba(255, 255, 255, 0.32);
  width: 65%;
  position: relative;
  height: 4px !important;
  cursor: pointer;
}
.videoTimePrograss div {
  background: linear-gradient(180deg, #f2870d 0%, #f20df2 100%), #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.soundIcon {
  width: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
