._smd_mobile_footer .container {
  width: 87% !important;
}
._smd_mobile_footer {
  position: relative;
}
._footer_logo {
  position: absolute;
  top: 65px;
  left: 8px;
  width: 80px;
  height: 80px;
}
._footer_logo a {
  width: 100%;
  height: 100%;
}

.tilte {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #cacaca;
  margin-top: 30px;
}

._smd_footer_follow_menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 31px;
}
._smd_footer_follow_menu li {
  display: inline-block;
  margin-right: 16px;
}
._smd_footer_follow_menu li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #ffffff !important;
}

._smd_footer_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
._smd_footer_menu li {
  margin-bottom: 25px !important;
}
._smd_footer_menu li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 12px;
  color: #cbcbcb !important;


}
.newsLatter label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #cacaca;
  margin-top: 20px;
}

.newsLatter h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin-bottom: 25px;
}
.newsLatterInput {
  position: relative;
  margin-top: 12px;
}
.newsLatterInput input {
  background: #ffffff;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #111;
  width: 100%;
  padding: 8px 14px;
  border: none;
}
.newsLatterInput input:placeholder {
  color: #999999;
}

.newsLatterInput button {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(0%, -50%);
  background: #d70404;
  border-radius: 4px;
  padding: 0px 7px;
  width: 26px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.selectLang {
  border: none;
  background: transparent;
  color: #fff;
  margin-top: 36px;
  text-transform: uppercase;
}
.selectLang option {
  color: #111;
}

.borderTop {
  border-top: 1px solid #fff;
  padding-top: 20px;
}
.copy_right a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

@media (max-width: 768px) {
  .copy_right a {
    font-size: 12px;
    line-height: 12px;
  }
  ._footer_logo {
    top: 6px;
    left: 11px;
    width: 66px;
    height: 66px;
  }
  .tilte {
    font-size: 16px;
  }
  .description {
    font-size: 10px;
    line-height: 20px;
    margin-top: 0px;
  }
  ._smd_footer_menu {
    margin-top: 30px;
  }
  ._smd_footer_menu li {
    margin-bottom: 5px !important;
  }
  ._smd_footer_menu li a {
    font-size: 15px;
    line-height: 17px;
  }
  .newsLatter {
    margin-top: 20px;
  }
  .newsLatter label {
    display: none;
  }

  .newsLatter h3 {
    font-size: 12px;
    line-height: 15px;
  }
  .newsLatterInput input {
    font-size: 10px;
    padding: 2px 9px;
  }
  .newsLatterInput button {
    width: 23px;
    height: 18px;
  }
  .selectLang {
    font-size: 12px;
  }
}
