.tilte {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #cacaca;
}

._smd_footer_follow_menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
._smd_footer_follow_menu li {
  display: inline-block;
  margin-right: 16px;
}
._smd_footer_follow_menu li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #ffffff !important;
}

._smd_footer_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
._smd_footer_menu li {
  margin-bottom: 15px !important;
}
._smd_footer_menu li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #cacaca;
}
.newsLatter label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #cacaca;
  margin-top: 20px;
}

.newsLatter h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 43px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}
.newsLatterInput {
  position: relative;
}
.newsLatterInput input {
  background: #ffffff;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #111;
  width: 100%;
  padding: 8px 14px;
}
.newsLatterInput input:placeholder {
  color: #999999;
}

.newsLatterInput button {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(0%, -50%);
  background: #d70404;
  border-radius: 4px;
  padding: 0px 7px;
  width: 26px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.selectLang {
  border: none;
  background: transparent;
  color: #fff;
  margin-top: 36px;
}
.selectLang option {
  color: #111;
}

.borderTop {
  border-top: 1px solid #fff;
  padding-top: 20px;
}
.copy_right a{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #CACACA;
}

@media (max-width: 768px) {
}
