.mostReadTapBtn {
  border-bottom: 1px solid #d70404;
}
.mostReadTapBtn button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
  border: none;
  background: transparent;
  width: 50%;
}

.mostReadTapBtn button.active {
  border-bottom: 2px solid #d70404;
}

@media (max-width: 768px) {
  .mostReadTapBtn button {
    font-size: 16px;
    line-height: 32px;
  }
}
