.nfl_card_title2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
  position: relative;
}

.smd_border_bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 5px;
  background-color: #000;
}
.fannationCardNews {
  border-bottom: 1px solid #8b8b8b;
  display: block;
  margin-bottom: 20px;
}

.fannationCardNews h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #5c5656;
}
.fannationCardNews:hover h4 {
  color: rgb(0, 102, 255);
}
.fannationCardNews p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #5c5656;
}
