.news_card span {
  width: 100% !important;
  /* height: 465px !important; */
}
.news_card h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: -0.04em;
  color: #121212;
}
.news_card:hover h3 {
  color: rgb(0, 102, 255);
}

.news_card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #5c5656;
}
._news_card_mobile{
  display: none;
}
@media (max-width:688px){
  ._news_card_mobile{
    display: block;
   
  }
  ._news_card_desk{
    display: none;
  }

}
