.TeamsFollowingSort {
  display: flex;
  align-items: center;
}
.TeamsFollowingSort h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 53px;
  /* or 331% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;

  color: #000000;
  margin: 0 20px;
}
.teamsFollowingTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
}
.nextPreBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  border: none;
  background: transparent;
}
