.featured_text {
  padding-left: 40px;
}
.featured_text h4 {
  background: #121212;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: inline-block;
  padding: 0 14px;
}
.featured_text h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 0.2px;
  color: #121212;
}
.featured_text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #5c5656;
}
.featured_text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 47px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #121212;
  display: inline-block;
  padding: 10px 35px;
  margin-top: 10px;
}

.podcatsImage span {
  width: 100% !important;
}

@media (max-width: 1200px) {
  .featured_text h4 {
    font-size: 18px;
    line-height: 25px;
  }
  .featured_text h3 {
    font-size: 24px;
    line-height: 33px;
  }
  .featured_text p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 4px;
  }
  .featured_text h2 {
    font-size: 16px;
    line-height: 34px;
    padding: 2px 35px;
  }
}
@media (max-width: 767px) {
  .featured_text {
    padding-left: 0;
    padding-top: 20px;
  }
  .featured_text h4 {
    font-size: 20px;
    line-height: 32px;
  }
  .featured_text h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .featured_text p {
    font-size: 15px;
    line-height: 19px;
    text-align: justify;
  }
  .featured_text h2 {
    font-size: 14px;
    line-height: 32px;
  }
}
