.galleryCard {
  padding: 0 7px;
}
.galleryCard span {
  width: 100% !important;
}
.galleryCard small {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  color: #ffffff;
}
.galleryCard h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  color: #ffffff;
}
.galleryCard p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.18px;
  color: #ffffff;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .galleryCard small {
    font-size: 6px;
    line-height: 23px;
  }
  .galleryCard h6 {
    font-size: 8px;
    line-height: 9px;
  }
  .galleryCard p {
    font-size: 6px;
    line-height: 8px;
  }
}
