.container {
  gap: 4%;
  width: 100%;
  display: grid;
  grid-template-columns: 34% 64%;
  margin-bottom: 1rem;
}
.description {
  display: flex;
  gap: 10px;
  width: 100%;
}
.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 0;
}

.subtitle svg {
  width: 15px;
  margin-right: 1px;
}
.subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 0;
}

.cardImg span {
  width: 100% !important;
  height: 100% !important;
}
.cardImg {
  position: relative;
}
.time {
  position: absolute;
  bottom: 4%;
  right: 3%;
  background: #111111ab;
  margin-bottom: 0;
  padding: 1px 8px;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
