.accordion_item .button,
.accordion_item.active .button {
  background: #121212;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 37px;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 6px 34px;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  background: #f5f5f5;
  border: 1px solid #bfbfbf;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.answer_wrapper.open {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: 15px 25px;
}
