@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

#nba,
#mlb,
#nfl,
#fullpage,
#watch,
#about,
#disclaimer,
#podcast,
#login,
#playPodCast {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #000;
}

/*=================
_smd_scoreSlider
===================*/

._smd_scoreSlider_date_n h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #131313;
}

._smd_scoreSlider_date_n p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #131313;
}

._smd_scoreSlider_section {
  height: 56px;
  width: 90%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 10px 0;
  overflow-x: auto;
}

._smd_scoreSlider_section::-webkit-scrollbar {
  height: 10px;
}

._smd_scoreSlider_section::-webkit-scrollbar-track {
  background: #f1f1f1;
}

._smd_scoreSlider_section::-webkit-scrollbar-thumb {
  background: #888;
}

._smd_scoreSlider_section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

._smd_scoreSlider_dropdown {
  height: 100%;
  width: 10%;
}

._smd_scoreSlider_dropdown_btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  border: 0;
  border-right: 0px solid !important;
  background: transparent;
}

._smd_nfl_scroe_card {
  display: grid;
  grid-template-columns: 1fr 84px;
}

._smd_nfl_Score_text1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #202121;
}

._smd_inner_table {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

._smd_nfl_scroe_card_inner {
  width: auto;
}

._smd_nfl_scroe_card_child2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

._smd_inner_table p {
  margin: 0;
  margin-left: 10px;
  font-size: 10px;
}

._smd_date {
  margin-left: 26px !important;
}

._tex_num_one::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d70404;
  margin-right: 5px;
}

._tex_num_two::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 5px;
}

._smd_squreShape {
  width: 28px;
}

._smd_top_story_main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 60px;
}

.smd_border_bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 5px;
  background-color: #000;
}

.smd_border_bottom_Headlines {
  color: #5c5656 !important;
}

.smd_border_bottom_Headlines::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 5px;
  background-color: #5c5656;
}

._smd_Upcoming_events {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff;
  background: #d70404;
  padding: 10px;
}

._smd_player_news_main {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  grid-gap: 30px;
}

._smd_player_news_main {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  grid-gap: 30px;
}

.bf_title {
  display: inline-block;
}

.bf_title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 5px;
  width: 100%;
  background-color: #fff;
}

._smd_bf_grid_main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

._smd_bf_card_desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

/* nfl css start */
/* ------------------------------------------- */

.nfl_con {
  width: 95%;
  margin: 0 auto;
}

.nfl_title1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;
  color: #121212;
}

.nfl_para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #5c5656;
}

.nfl_card_title1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.18px;
  color: #000000;
}

.nfl_card_title2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
  position: relative;
}

.nfl_card_Desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.18px;
  color: #5c5656;
  margin-top: 10px;
}

._nfl a {
  color: #6e6b7b !important;
}

._LandingPage a {
  color: #6e6b7b !important;
}

/* nfl sec one */
.nfl_sec_one {
  position: relative;
}

.nfl_nav {
  background-color: #d6d6d6;
  overflow: auto;
}

.nfl_nav_ul {
  margin-bottom: 0px;
  width: max-content;
}

.nfl_nav_ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px 15px;
}

.nfl_nav_ul a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}

.nfl_sec_one_img {
  position: relative;
  filter: brightness(0.7);
  height: 360px;
  width: 100%;
  object-fit: cover;
}

.nfl_sec_one_img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(6, 21, 57, 0.98);
}

.nfl_sec_one_overlay {
  background: rgba(0, 0, 0, 0.61);
  padding: 15px 20px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.nfl_sec_one_overlay h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.nfl_sec_one_overlay p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
}

.nfl_video_icon {
  object-fit: contain;
  cursor: pointer;
}

/* nfl sec one */

/* nfl sec two start */
.nfl_sec_two {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 30px;
}

.nfl_s2_img {
  width: 100%;
}

.nfl_comment_num::before {
  content: url(../public/images/landing_Page/comment.svg);
  position: relative;
  top: 2px;
  margin-right: 5px;
  margin-left: 20px;
}

.nfl_sec_two_middle:first-child {
  margin-top: 0px;
}

.nfl_sec_two_middle {
  margin-top: 20px;
  align-items: center;
  gap: 10px;
}

.nfl_3rd_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #5c5656;
  position: relative;
  cursor: pointer;
  margin-right: 30px;
}

.nfl_3rd_title:hover::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #5c5656;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.nfl_3rd_title_active {
  position: relative;
}

.nfl_3rd_title_active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #5c5656;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.nfl_sec2_vertical_line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -16px;
  height: 80%;
  width: 2px;
  background-color: #d4d4d4;
}

.nfl_S2_3rd_card {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  gap: 20px;
}

.nfl_S2_3rd_card:first-child {
  margin-top: 0px !important;
}

.nfl_S2_3rd_card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #5c5656;
}

.see_all_news {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5c5656;
  text-align: end;
  margin-top: 20px;
  text-decoration: none;
  display: block;
}

.see_all_news:hover {
  color: #5c5656;
}

.nfl_hr_line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

/* nfl sec two end*/

/* nfl sec three start */
.nfl_sec_grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 30px;
}

.nfl_sec_three {
  padding: 30px 0px;
}

.nfl_sec3_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #121212;
  position: relative;
  margin-right: 30px;
}

.nfl_sec3_title::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #121212;
  position: absolute;
  left: 0;
  bottom: -3px;
}

.nfl_S3__ul {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.18px;
  color: #5c5656;
  margin-top: 20px;
}

.nfl_S3__ul li {
  margin-bottom: 30px;
}

/* nfl sec three end */

/* nfl sec four start */
.nfl_sec_four {
  background: #121212;
  padding: 40px 0px;
}

.nfl_S4_overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(18, 18, 18, 0.15);
  box-shadow: inset 0px -64px 4px 59px rgba(0, 0, 0, 0.61);
  width: 100%;
}

.nfl_S4_overlay p {
  padding: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.18px;
  color: #ffffff;
}

.nfl_Article {
  background: #cb3939;
  border-radius: 3px;
  padding: 2px 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* nfl sec four end */

/* nfl sec five start */
.nfl_sec5_grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 80px;
}

.nfl_S5_middle_card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  padding-top: 20px;
}

.nfl_S5_middle_card:last-child {
  border-bottom: 0px solid rgba(0, 0, 0, 0.54);
}

/* nfl sec five end */

/* nfl sec six start */
.nfl_S6 {
  padding: 40px 0px;
}

.nfl_card_Desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: -0.04em;
  color: #121212;
}

.nfl_S6_card_main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

/* nfl sec six end */

/* nfl sec seven start */
.nfl_S7 {
  padding: 40px 0px;
}

.nfl_S7_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.225px;
  text-transform: uppercase;
  color: #c4c4bc;
}

.nfl_S7_item {
  color: #333333;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.25px;
  color: #333333;
}

.nfl_S7_item:hover {
  color: #333333;
}

.nfl_S7_ul li {
  margin-top: 15px;
}

.nfl_S7_item span {
  margin-left: 10px;
}

.nfl_S7_container {
  width: 75%;
  margin: 0 auto;
}

/* nfl sec seven end */

.more-news-card img {
  height: 162px;
}

/* ------------------------------------------- */
/* nfl css end */

.vertical_slider {
  height: 600px;
  background: #f5f5f5;
}

.vertical_slider .swiper-button-prev {
  top: 4% !important;
  left: 50% !important;
  transform: rotate(90deg);
}

.vertical_slider .swiper-button-next {
  top: auto !important;
  bottom: 4% !important;
  left: 50% !important;
  transform: rotate(90deg);
}

.vertical_slider .swiper-button-prev:after {
  color: #000 !important;
}

.vertical_slider .swiper-button-next:after {
  color: #000 !important;
}

.v_s_div {
  background: rgba(255, 255, 255, 0.81);
  height: 96px;
  position: absolute;
  width: 100%;
}

.v_s_top {
  top: 0;
  left: 0;
}

.v_s_bottom {
  bottom: 0;
  left: 0;
}

.vertical_slider .swiper-wrapper {
  z-index: -1 !important;
}

.vertical_slider .swiper-button-prev::after {
  font-size: 30px !important;
  font-weight: 900;
}

.vertical_slider .swiper-button-next::after {
  font-size: 30px !important;
  font-weight: 900;
}

.scoreSlider .swiper-button-prev {
  background: #d9d9d9;
  height: 124px;
  top: 0;
  left: 0;
  width: 40px;
}

.scoreSlider {
  max-width: 70vw !important;
  background: #f5f5f5;
  padding: 10px 0px !important;
}

.scoreSlider .swiper-button-next {
  background: #d9d9d9;
  height: 124px;
  top: 0;
  right: 0;
  width: 40px;
}

.scoreSlider .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 900;
  color: #000 !important;
}

.scoreSlider .swiper-button-next::after {
  font-size: 20px;
  font-weight: 900;
  color: #000 !important;
}

.scoreSlider .swiper-slide {
  border-left: 3px solid rgba(0, 0, 0, 0.17);
  display: flex;
  justify-content: center;
}

._smd_scoreSlider_n {
  display: grid;
  grid-template-columns: 143px 1fr;
  align-items: center;
}

/* responsive start */
@media only screen and (max-width: 1024px) {
  .nfl_sec_one_overlay h3 {
    font-size: 30px;
  }

  .nfl_sec_one_overlay p {
    font-size: 15px;
  }

  .nfl_video_icon {
    width: 50px;
  }

  .scoreSlider {
    max-width: 65vw !important;
  }
}

@media only screen and (max-width: 992px) {
  .nfl_sec_two {
    grid-template-columns: 1fr 1fr;
  }

  .nfl_sec_grid {
    grid-template-columns: 1fr 1fr;
  }

  .nfl_sec5_grid {
    grid-template-columns: 1fr 1fr;
  }

  .nfl_sec2_vertical_line {
    display: none;
  }

  .nfl_S6_card_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  ._smd_top_heading {
    flex-direction: column;
  }

  ._smd_top_social {
    border-right: 0px solid #fff !important;
  }

  ._smd_topHead_ul {
    text-align: center;
  }

  ._smd_top_story_main {
    grid-template-columns: 1fr 1fr;
  }

  ._smd_player_news_main {
    grid-template-columns: 1fr 1fr;
  }

  ._smd_bf_grid_main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  ._smd_footer_menu {
    flex-direction: column;
  }
}

@media only screen and (max-width: 760px) {
  .nfl_sec_one_img {
    height: 260px;
  }

  .nfl_sec_two {
    grid-template-columns: 1fr;
  }

  .nfl_sec_grid {
    grid-template-columns: 1fr;
  }

  .nfl_sec5_grid {
    grid-template-columns: 1fr;
  }

  .nfl_sec_one_overlay h3 {
    font-size: 20px;
  }

  .nfl_sec_one_overlay p {
    font-size: 13px;
    line-height: 20px;
  }

  .nfl_sec_two_middle {
    flex-direction: column-reverse;
  }

  .nfl_S3__ul {
    font-size: 15px;
  }

  .nfl_S3__ul li {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .nfl_sec_one_img {
    height: 260px;
  }

  .nfl_S6_card_main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .nfl_S7_container {
    width: 90%;
    margin: 0 auto;
  }

  ._smd_top_story_main {
    grid-template-columns: 1fr;
  }

  ._smd_player_news_main {
    grid-template-columns: 1fr;
  }

  ._smd_bf_grid_main {
    grid-template-columns: 1fr;
  }

  ._smd_top_heading ._smd_top_heading_section ul li a {
    font-size: 12px !important;
  }

  ._smd_top_heading ._smd_top_heading_section ul li {
    font-size: 12px !important;
  }

  ._smd_scoreSlider_dropdown {
    width: 100% !important;
  }

  .palyer_news_card_img {
    width: 100px;
    height: 80px;
    object-fit: cover;
  }

  .scoreSlider {
    max-width: 88vw !important;
  }

  ._smd_nfl_scroe_card {
    width: 100% !important;
  }

  .scoreSlider .swiper-button-next {
    width: 18px;
  }

  .scoreSlider .swiper-button-prev {
    width: 18px;
  }

  .scoreSlider .swiper-button-next::after {
    font-size: 13px;
  }

  .scoreSlider .swiper-button-prev::after {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  ._smd_headers_article ._smd_article_card {
    width: 100%;
  }

  .nfl_sec5_grid {
    grid-gap: 30px;
  }

  ._smd_scoreSlider_n {
    grid-template-columns: 1fr;
  }

  ._smd_nfl_scroe_card {
    display: grid;
    grid-template-columns: 1fr 84px;
    width: 206px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100% !important;
  }

  ._smd_top_social li {
    margin-right: 10px;
  }

  ._smd_nfl_scroe_card {
    display: grid;
    grid-template-columns: 1fr 70px;
    padding: 0px 22px;
  }
}

/* responsive end */
