h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
}
h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
}
p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  color: #5c5656;
}

.bg-black {
  background-color: #000000 !important;
}
.bg-blue {
  background: #006bcb !important;
}
.main-btn {
  border: 1px solid #d9d9d9;
  background: #111;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  color: #fff !important;
  padding: 15px 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 15px 0;
}
/*==========================
_smd_navbar
===========================*/
/* top nabar */
._smd_top_heading {
  display: flex;
  justify-content: space-between;
}
._smd_top_heading ._smd_top_heading_section {
}
._smd_top_heading ._smd_top_heading_section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
._smd_top_heading ._smd_top_heading_section ul li {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
._smd_top_heading ._smd_top_heading_section ul li a {
  display: inline-block;
  margin: 0 15px;
  color: #fff !important;
  font-weight: 500;
  font-size: 20px;
}
._smd_top_heading ._smd_top_heading_section ul li img {
}

._smd_border-right {
  border-right: 2px solid #fff;
}

._smd_top_social {
  width: 15%;
}
._smd_top_social ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
._smd_top_middle {
  width: 60%;
}
._smd_top_reg {
  width: 25%;
}
._smd_top_reg ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
._smd_top_reg ul li {
  text-align: center;
}

._smd_top_reg ul li img {
  margin-right: 10px;
  margin-left: 10px;
}
/* end top nabar */

._smd_navbar_border {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
._smd_navbar {
  padding-top: 0;
  padding-bottom: 0;
}
._smd_nav_item a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #f5f5f5 !important;
  margin: 0 16px;
  height: 63px;
  /* width: 90px; */
  padding: 0 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}
._smd_nav_item a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
._smd_nav_item.active a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #fff;
  border-radius: 5px;
}

._smd_nav_item.active a {
  background: #ffffff2b;
}

/*==========================
end _smd_navbar
===========================*/

/*==========================
_smd article
===========================*/
._smd_headers_article {
}
._smd_headers_article ._smd_article_card {
  width: 25%;
  position: relative;
  height: 150px;
  margin: 0 10px;
}
._smd_headers_article ._smd_article_card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._smd_headers_article ._smd_article_card h4 {
  position: absolute;
  top: 5%;
  right: 6%;
  color: #fff;
  width: 73px;
  height: 23.87px;
  background: #cb3939;
  border-radius: 3px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23.87px;
}
/*=================
_smd_scoreSlider
===================*/
._smd_scoreSlider {
  display: flex;
}
._smd_scoreSlider_date {
  width: 10%;
}
._smd_scoreSlider_date h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #131313;
}
._smd_scoreSlider_date p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #131313;
}
._smd_scoreSlider_section {
  height: 56px;
  width: 90%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
._smd_scoreSlider_dropdown {
  height: 100%;
  width: 10%;
}
._smd_scoreSlider_dropdown_btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  height: 100%;
  border-right: 3px solid rgba(0, 0, 0, 0.17);
  display: flex;
  align-items: center;
  justify-content: center;
}

._smd_newCard {
}
._smd_newCard h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #121212;
  position: relative;
  margin-bottom: 70px;
}
._smd_newCard h2::after {
  position: absolute;
  content: "";
  width: 205px;
  height: 5px;
  top: 140%;
  left: 0%;
  background: #121212;
}
._smd_newCard a {
}
._smd_newCard a img {
  width: 590px;
}
._smd_newCard a h3 {
  ont-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 42px;
  color: #121212;
}
._smd_newCard a p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  color: #5c5656;
}

/*===========
_smd_footer
======== */
._smd_footer {
  color: #fff;
  border-top: 1px solid #494949;
}

._smd_footer_follow_menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
._smd_footer_follow_menu li {
  display: inline-block;
}
._smd_footer_follow_menu li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #ffffff !important;
}
._smd_footer_follow_menu li a img {
}
._smd_news_alerts {
  width: 68%;
  margin: auto;
}
._smd_news_alerts h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #ffffff;
}
._smd_news_alerts button {
  background: #d70404;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #ffffff;
  width: 100%;
  padding: 15px 0;
  margin-top: 9px;
}
._smd_footer_menu {
  list-style: none;
}
._smd_footer_menu li {
  margin-bottom: 28px !important;
}
._smd_footer_menu li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #747474;
  margin-bottom: 14px;
  display: block;
}

._smd_footer_nav_menu {
  display: flex;
  justify-content: space-between;
}
.copy-right a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #747474;
  text-decoration: none;
}

.dropdown {
  position: relative;
}
.dropdown-btn {
}
.dropdown:hover .dropdown-items {
  visibility: visible;
  opacity: 1;
}
.dropdown-items {
  position: absolute;
  background: #fff;
  color: #111;
  flex-direction: column;
  top: 100%;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
}

.dropdown-items li {
  color: #111 !important;
  display: block;
}

/*=========================
_smd_nbahero
===========================*/

._smd_nbahero {
  background: #111;
  color: #fff;
  display: grid;
  grid-template-columns: 37% 37% 26%;
}
._smd_nbahero_card {
  position: relative;
}
._smd_nbahero_card h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(17, 17, 17, 0.541);
  color: #fff;
  margin: 0;
  padding: 10px 0;
}
._smd_nbanav_news {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 418px;
}

._smd_nbanews_list {
  padding: 15px 10px 10px 15px;
}
._smd_nbanews_list ul {
}
._smd_nbanews_list ul li {
}
._smd_nbanews_list ul li h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.18px;
  color: #ffffff;
}
._smd_nbanews_list ul li p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.18px;
  color: #5c5656;
}

._smd_live_watch_bg {
  width: 100%;
  height: 339px;
  background-repeat: no-repeat;
  position: relative;
}
._smd_live_watch_bg ._smd_live_btn {
  position: absolute;
  top: 8%;
  left: 3%;
}
._smd_live_btn {
  width: 128px;
  height: 42.13px;
  background: #d70404;
  border-radius: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
  border: none;
}
.nfl_card_title2 ._smd_live_btn {
  font-size: 21px;
  line-height: 32px;
  height: 32px;
  margin-left: 30px;
}
._smd_watch_live_title {
  margin-bottom: 20px;
}

._smd_live_video_tilte {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #111111ba;
  color: #fff !important;
  padding: 18px 15px;
  padding-right: 34px;
  display: grid;
  grid-template-columns: 6% 94%;
  align-items: center;
}
._smd_live_video_tilte img {
}
._smd_live_video_tilte h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

._smd_watch_system {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
._smd_watch_system p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  color: #c2c4c7;
  margin: 0;
}
._smd_watch_system ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
._smd_watch_system ul li {
  display: inline-block;
  margin: 0 10px;
}

._smd_card_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 22px;
  color: #202121;
}
._smd_card_desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
}

._smd_login_card {
  /* background: rgba(0, 0, 0, 0.432); */
  width: 51%;
  margin: auto;
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
._smd_login_card h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 35px;
  line-height: 61px;
  color: #121212;
}
._smd_login_card button {
  width: 100%;
  border: 1px solid #d9d9d9;
  background: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  color: #121212;
  padding: 15px 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 15px 0;
}
._smd_login_card button div {
  width: 100%;
}
._smd_or_line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
._smd_or_line div {
  background: #5c5656;
  width: 45%;
  height: 1px;
}
._smd_or_line p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #5c5656;
  width: 10%;
  padding: 0;
  margin: 0;
}

._smd_login_card .bg-black {
  color: #fff;
}
._smd_form_group {
  width: 100%;
}
._smd_form_group label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: #121212;
  width: 100%;
  margin: 10px 0;
  text-align: left;
}
._smd_form_group input {
  height: 55px;
  border: 1px solid #d9d9d9;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: rgba(92, 86, 86, 0.32);
  padding: 0px 25px;
}
._smd_form_group p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #606060;
  text-align: left;
  margin: 0;
}

._smd_login_card a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #121212;
}
a {
  color: #6e6b7b !important;
}

/*======================
PodcastPage
=======================*/

.podcast-header {
  position: relative;
  width: 100%;
  height: 50vh;
}
.podcast-header img,
.podcast-header span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.podcast-header h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  background: rgba(18, 18, 18, 0.71);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
  width: 100%;
  margin: 0;
}

.featured-text {
  padding-left: 40px;
}
.featured-text h4 {
  background: #121212;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: inline-block;
  padding: 0 14px;
}
.featured-text h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 0.2px;
  color: #121212;
}
.featured-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #5c5656;
}
.featured-text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 47px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #121212;
  display: inline-block;
  padding: 10px 35px;
  margin-top: 10px;
}

/*======================
podcast-card
=======================*/
.podcast-card {
  border: 1px solid #d9dbde;
  padding: 20px;
}
.podcast-card img {
  width: 100%;
}
.podcast-card span {
  background: #000000;
  border-radius: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  color: #ffffff;
  margin: 26px 0;
  display: inline-block;
  padding: 10px 7px;
}
.podcast-card h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  /* or 147% */

  color: #121212;
}
.podcast-card a {
  border: 1px solid #d9dbde;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 47px;
  letter-spacing: 0.2px;
  color: #121212 !important;
  display: block;
  width: 100%;
  padding: 9px 0;
  text-align: center;
  box-sizing: border-box;
  margin-top: 35px;
}

/*======================
End podcast-card
=======================*/

.forget-password-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #121212;
}
.forget-password-desc a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #121212 !important;
}
/*======================
End PodcastPage
=======================*/
/*======================
Dashboard sidebar
======================*/
._smd_dashboard-sidebar {
}
._smd_dashboard-sidebar h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.sidebar-link {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-link li.sidebar-navlink {
}
.sidebar-link li.sidebar-navlink a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  padding: 12px 0px;
  padding-left: 36px;
  position: relative;
}

.sidebar-link li.sidebar-navlink a:hover,
.sidebar-link li.sidebar-navlink.active a {
  background: #292929;
}
.sidebar-link li.sidebar-navlink a:hover::after,
.sidebar-link li.sidebar-navlink.active a::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  background: #fff;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.sidebar-link li a h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff !important;
  margin: 0;
  padding: 0;
  margin-left: 20px !important;
}

/*======================
End Dashboard sidebar
=======================*/

/*======================
Dashboard profile
=======================*/
.dashboard-main {
  min-height: 100vh;
}
/*navbar dropdown*/
.user-dropdown-btn {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
}
.user-dropdown {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(123, 123, 123, 0.25);
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dropdown li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000 !important;
  text-decoration: none;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  display: block;
  padding: 10px 20px;
}
.user-dropdown li a svg {
  margin-right: 7px;
}

.menu-item:hover {
  color: #2980b9;
}
/*end navbar dropdown*/
/* new password form */
.new-password-form {
  min-height: 75vh;
  display: grid !important;
  grid-auto-columns: 100% 100%;
  align-content: space-between;
}
/* end new password form */
/* form checkbox */
.input-check label {
}
/* The container */
.input-check label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #121212;

  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.input-check label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.input-check label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #111;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
/* .input-check label:hover input ~ .checkmark {
  background-color: #111;
} */

/* When the checkbox is checked, add a blue background */
.input-check label input:checked ~ .checkmark {
  background-color: #111;
}

/* Create the checkmark/indicator (hidden when not checked) */
.input-check label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.input-check label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.input-check label .checkmark:after {
  left: 9px;
  top: 2px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* end form checkbox */

/*======================
End Dashboard profile
=======================*/
