
.termsDescription h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    color: #121212;
  }
  .termsDescription h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    /* or 185% */
  
    color: #000000;
  }
  .termsDescription h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 37px;
    /* or 206% */
  
    color: #000000;
  }
  .termsDescription p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #5c5656;
  }
  .termsDescription b {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    color: #5c5656;
  }
  